{% extends 'encyclopedia/layout.html' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <h2>Edit Page '{{title}}'</h2>
    <form action="{% url 'encyclopedia:edit' title=title %}" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ title }}"><br>
        <textarea name="content" placeholder="write your markdown here">{{ content }}</textarea><br>
        <a class="btn btn-outline-danger" href="{% url 'encyclopedia:index' %}">Cancel</a>
        <input class="btn btn-outline-success" type="submit" value="Save">
    </form>
{% endblock %}